<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/static/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>The Hut Assistant - {{ title }}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83851540-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-83851540-2');
  </script>
  <!-- Bootstrap core CSS     -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Animation library for notifications   -->
  <link href="/static/css/animate.min.css" rel="stylesheet" />
  <!--  Light Bootstrap Table core CSS    -->
  <link href="/static/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

  <!--     Fonts and icons     -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />

  <!-- Custom css -->
  <link href="/static/css/custom.css" rel="stylesheet" />
  {%block head%}
  {%endblock%}
</head>

<body>
  <div class="wrapper" style="min-width: 800px;">
    <div class="sidebar" data-color="blue">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a class="simple-text">
          <i class="pe-7s-{{icon_for_logo}}"></i>
            {{ title }}
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="{{ url_for('.index') }}">
              <i class="pe-7s-graph"></i>
              <p>Home</p>
            </a>
          </li>    
          <li>
            <a href="{{ url_for('.npcs') }}">
              <i class="pe-7s-magic-wand"></i>
              <p>NPCs</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('.attacks') }}">
              <i class="pe-7s-scissors"></i>
              <p>Attacks</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('.equipments') }}">
              <i class="pe-7s-shield"></i>
              <p>Equipments</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('.leader_board') }}">
              <i class="pe-7s-ribbon"></i>
              <p>Leaderboard</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('.suggestions') }}">
              <i class="pe-7s-ticket"></i>
              <p>Suggestions</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('.commands') }}">
              <i class="pe-7s-settings"></i>
              <p>Commands</p>
            </a>
          </li>
          <li>
            <a href="https://discordapp.com/api/oauth2/authorize?client_id=598077927577616384&permissions=117824&scope=bot">
              <i class="pe-7s-mail"></i>
              <p>Invite</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
              <div class="col">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <p class="navbar-text visible-m-inline-block navbar-toggle" data-toggle="collapse"style="margin-right:5px;float:right;">Menu</p>
              </div>
          </div>
          <div class="collapse navbar-collapse">
            {% if profile %}
            <ul class="nav navbar-nav">
              </li>
                <a class="navbar-brand" href="{{url_for('.equipments')}}" style="margin-left:-25px; font-size: 14px;">
                   You have <b>{{profile['HutCoins']}}</b> HutCoins <i class="fa fa-money"></i>
                </a>
              </li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right" style="margin-top:0px">
              <li>
                <a href="{{ url_for('.user_page') }}">
                  <i class="fa fa-user"></i> Account
                </a>
              </li>
              <li>
                {% if user %}
                <a href="{{ url_for('.logout') }}">
                  <i class="fa fa-arrow-left"></i> Sign Out
                </a>
                {% else %}
                <a href="{{ url_for('.login') }}">
                  <i class="fa fa-arrow-right"></i> Sign in
                </a>
                {% endif %}
              </li>
              <li class="separator hidden-lg"></li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="container-fluid">
          {% block content %}
          {% endblock %}
        </div>
        <footer class="footer">
          {% block footer %}
          {% endblock %}
        </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/js/jquery.3.2.1.min.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
  <!--  Charts Plugin -->
  <script src="/static/js/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/js/bootstrap-notify.js"></script>
  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="/static/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
  <!-- Popper.js v2 -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
    });
  </script>

  {%block script%}
  {%endblock%}

</body>

<!-- <script type="text/javascript">
	$(document).ready(function(){

    	//demo.initChartist();

    	$.notify({
        	icon: 'pe-7s-gift',
        	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

        },{
            type: 'info',
            timer: 4000
        });

	});
</script> -->