{% extends 'base.html' %}
{% set title = "Home" %}
{% set icon_for_logo = "graph"%}
{%block content%}
	<div class="panel panel-info">
		<h5 class="panel-heading" style="margin-top: 0px;">Welcome to The Hut Assistant Community Website!</h5>
		<div class="panel-body">
			<p></p>
		</div>
  		<div class="panel-footer"><p>If you don't have The Hut Assistant in your server, here is an invite link for you:</p> <br><a class="btn btn-danger btn-fill" href="https://discordapp.com/api/oauth2/authorize?client_id=598077927577616384&permissions=117824&scope=bot">Invite Me</a></div>
	</div>
{%endblock%}