{% extends 'base.html' %}
{% set title = "NPCs" %}
{% set icon_for_logo = "magic-wand"%}

{%block content%} 

<div class="panel">
  <h5 class="panel-heading">
    NPCs that are currently can be spawned via h!hunt command</b>
  </h5>
  <div class="panel-body">
  <table class="table table-striped table-advance table-hover table-image">
    <tbody>
      <tr>
        <th><i class="pe-7s-shield"></i> Name</th>
        <th><i class="pe-7s-timer"></i> Level Range</th>
        <th><i class="pe-7s-plus"></i> Spawn Type</th>
        <th><i class="pe-7s-scissors"></i> Attacks</th>
        <th><i class="pe-7s-scissors"></i> Debuffs</th>
        <th><i class="pe-7s-plus"></i> Image</th>
        <th><i class="pe-7s-plus"></i> Stats</th>
        {%for k in npcs%}
          <tr>
            <td>
              <b>{{ k['Name'] }}</b>
            </td>
            <td><b>{{k['Min Level']}} - {{k['Max Level']}}</b></td>
            <td>
            {%for spw in spawns%}
              {%if k['Name'] in spw['NPCs']%}
              <p>
                <a class="btn btn-danger {{spw['Spawn Type']}}" data-toggle="popover" data-html="true" data-trigger="focus hover" style="width: 90%;">{{spw['Spawn Type']}}</a>
              </p>
              {%endif%}
            {%endfor%}
            </td>
            <td>
            {% for atk in k['Attacks'] %}
              <p>
              <a class="btn btn-secondary" style="width: 90%;" href="{{ url_for('.attacks', attackname=atk) }}">{{ atk }}</a>
              </p>
            {%endfor %}
            </td>
            <td>
              <p>
            {% for dbf in k['Debuffs'] %}
              <a class="btn btn-primary" style="width: 90%;" href="{{ url_for('.attacks', debuffname=dbf) }}">{{ dbf }}</a>
            {% endfor %}
            </p>

            </td>
            <td>
              <img src="{{ url_for('.npc_image',name=k['Name']) }}" height="200px" width="200px" />
            </td>
            <td><a class="btn btn-primary" data-toggle="modal" data-target="#npc{{loop.index}}" aria-expanded="false">NPC Stats</a>
            </td>
            <div class="modal" data-backdrop="false" id="npc{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="npcModal{{loop.index}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="npcModal{{loop.index}}">NPC Details - {{k['Name']}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% for stat in k['Stats'] %}
                    {% if "Chance" in stat %}
                    <h5>
                      <b>{{ stat }}</b> : %{{ k['Stats'][stat] }} 
                    </h5>
                    {%else%}
                    <h5>
                      <b>{{ stat }}</b> : {{ k['Stats'][stat] }} 
                    </h5>
                    {%endif%}
                    <hr />
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        {%endfor%}
      </tr>
    </tbody>
  </table>
  </div>
</section>

{%endblock%}

{%block script%}
<script type="text/javascript">
  $(window).on('load', function(){
    {%for spw in spawns%}
        var spw_name = "{{spw['Spawn Type']}}";
        var cls = "." + spw_name;
        var spw_chance = "{{spw['Spawn Chance']}}";
        $(cls).attr("data-content", spw_name + " Spawns has " + spw_chance + "% of spawning.<br>They give the player following bonus rewards on top of the standart rewards if they are defeated by the player:<br>{%for bns in spw['Spawn Bonuses']%} <b>{{bns}}</b> : +{{spw['Spawn Bonuses'][bns]}}<br>{%endfor%}").attr("data-original-title",   spw_name);
    {%endfor%}
  });
</script>
{%endblock%}