hr {
 border-top:1px solid antiquewhite;
}

.btn {
	text-align: center !important;
}

#cover {
    background: url("../img/monkey-1.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.panel-heading
{
    background-image: none;
    margin-top: 0px;
    background-color: rgba(150, 150, 150, 0.1) !important;
    border-color: antiquewhite !important;
}

ul > li {
    margin: 0%;
}

.text {
    color: #ffffff;
}

.navbar-text {
    color:#9A9A9A !important;
}