hr {
 border-top:1px solid #6A0DAD;
}

.btn {
	text-align: center !important;
}

body{
	background-color: rgba(140, 140, 140, 0.25);
}
#cover {
    background: url("../img/monkey-1.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}